.main_header {

    height: 150px;

}

.student_informations_list>li , .left_menu_item{

    list-style-type: none;

}

.student_informations_list{
    border:1px solid;
}
.atom_feed{
    border:1px solid;
    width:50%;
}
#info_student{
    width:50%;
}

a{
    text-decoration: none;
    color:black;
}

.app_name{
    color:cornflowerblue!important;
}
.feed_item {

    border: 1px solid;
}